.eara-box-editor {
  border: 1px dashed #d0d0d0;
  border-radius: 6px;
  padding: 12px;
  min-height: 50px;
}

.eara-box-link-indicator {
  margin-bottom: 8px;
  font-size: 12px;
  color: #555;
  font-style: italic;
}

.eara-box-editor .block-editor-inner-blocks .block-editor-block-list__layout {
  display: block !important;
}
