/* Editor styles for Group block */
.wp-block-eara-group {
  border: 1px dashed #ccc;
  padding: 0.5rem;
  margin: 0.5rem 0;
  min-height: 50px;
  
  .mantine-Group-root {
    min-height: 50px;
  }
  
  .block-editor-inner-blocks,
  .block-editor-block-list__layout {
    display: flex;
    flex-wrap: inherit;
    gap: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
}
