.wp-block-eara-protected-file {
  .eara-protected-file__editor {
    border-radius: 8px;
    padding: 12px;
  }

  .eara-protected-file__upload input[type='file'] {
    display: none;
  }

  .eara-protected-file__meta p {
    margin: 0 0 8px;
  }
}
