/* TabItem Styles */
.eara-tab-item {
  width: 100%;
}

.eara-tab-item__image {
  margin-bottom: 1.5rem;
}

.eara-tab-item__image-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  display: block;
}

.eara-tab-item__content {
  width: 100%;
}
